@font-face {
  font-family: "ouyeelfont"; /* Project id 2947763 */
  src: url('iconfont.eot?t=1646383840143'); /* IE9 */
  src: url('iconfont.eot?t=1646383840143#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff?t=1646383840143') format('woff'),
       url('iconfont.ttf?t=1646383840143') format('truetype');
}

.ouyeelfont {
  font-family: "ouyeelfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.oyicon-arrow-down-thick:before {
  content: "\e8c8";
}

.oyicon-arrow-top-thick:before {
  content: "\e8d8";
}

.oyicon-close-fill:before {
  content: "\e7b7";
}

.oyicon-export-table:before {
  content: "\e765";
}

.oyicon-message-alert:before {
  content: "\e69d";
}

.oyicon-message-success:before {
  content: "\e69e";
}

.oyicon-message-error:before {
  content: "\e69f";
}

.oyicon-arrow-top-full:before {
  content: "\e69b";
}

.oyicon-arrow-down-full:before {
  content: "\e69c";
}

.oyicon-QR-code:before {
  content: "\e684";
}

.oyicon-shopping-cart:before {
  content: "\e685";
}

.oyicon-menu-seller:before {
  content: "\e686";
}

.oyicon-arrow-down:before {
  content: "\e687";
}

.oyicon-menu-bidding:before {
  content: "\e688";
}

.oyicon-arrow-left:before {
  content: "\e689";
}

.oyicon-warehouse:before {
  content: "\e68a";
}

.oyicon-flow-cjjp:before {
  content: "\e68b";
}

.oyicon-arrow-right:before {
  content: "\e68c";
}

.oyicon-flow-jbzj:before {
  content: "\e68d";
}

.oyicon-menu-invoice:before {
  content: "\e68e";
}

.oyicon-flow-xckh:before {
  content: "\e68f";
}

.oyicon-arrow-top:before {
  content: "\e690";
}

.oyicon-flow-dhqr:before {
  content: "\e691";
}

.oyicon-flow-zfkx:before {
  content: "\e692";
}

.oyicon-flow-ydgg:before {
  content: "\e693";
}

.oyicon-contact:before {
  content: "\e694";
}

.oyicon-star:before {
  content: "\e695";
}

.oyicon-company:before {
  content: "\e696";
}

.oyicon-info:before {
  content: "\e697";
}

.oyicon-calendar:before {
  content: "\e698";
}

.oyicon-flow-jjcg:before {
  content: "\e699";
}

.oyicon-menu-business:before {
  content: "\e69a";
}

.oyicon-plus:before {
  content: "\e67d";
}

.oyicon-menu-buyer:before {
  content: "\e67e";
}

.oyicon-menu-template:before {
  content: "\e67f";
}

.oyicon-menu-funds:before {
  content: "\e680";
}

.oyicon-menu-contract:before {
  content: "\e681";
}

.oyicon-close:before {
  content: "\e682";
}

.oyicon-menu-account:before {
  content: "\e683";
}

